@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(./files/Atkinson-Hyperlegible-Regular-102.ttf);
}

html {
  font-family: var(--sansFont);
}

:root {
--mainBorder: 0.15rem solid #000;
--thinBorder: 0.1rem solid #000;
--innerBackgroundColor: lightgrey;
--nonRollBackground: #D2CDE9;
--buttonColor: #CBDFE7;
--buttonHoverColor: #a8b9c0;
--buttonActive: #acd3e2;
--sansFont: 'Atkinson Hyperlegible', sans-serif;
}

.App {
  text-align: center;
  background:url(./files/beautifulforest.jpg);
  /*font-size: 0.95em;*/
}


.frontElement {
  background-color: var(--innerBackgroundColor);
  opacity: 90%;
}

.characterSheetSectionTitle {
  font-size: 1.2rem;
}


.sheetAndMap {
  display: flex;
  flex-direction: row;
}

.sheetAndMap .col {
  display: flex !important;
  flex-direction: column;
  gap: 0.5em;
}

.offcanvasVisibilityToggles {
  display: flex;
  flex-direction: column;
  border: var(--thinBorder);
  padding: 0.5rem;
  margin: 0.5rem;
}

.diceRollContextMenu {
  padding: 0.2em;
}

.accordion-button {
  padding: 0.5em 0.5em !important;
}

/*
----------------------------------------
User Auth Form
----------------------------------------
*/

.userAuthForm {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: auto;
}

/*
----------------------------------------
Character Sheet
----------------------------------------
*/


.characterSheet {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  padding: 0.3rem;
}

/*
.characterSheetGrid {
  display: grid;
  grid-template-columns: 25% 15% 40% 30%;
  grid-template-rows: 10% 10% ;
}
*/

.characterSheetRow {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.characterSheetCol {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}


/*
----------------------------------------
Ability Section
----------------------------------------
*/

.abilityContainer {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  /*
  width: 30%;
  */
  border: var(--mainBorder);
  border-radius: 0.5rem;
  padding: 0.3rem;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-evenly;
}

.characterAbilityContainer {
  max-width: 26rem;
  max-height: 8rem;
}

.abilityBox {
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0rem 0.5rem;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*
----------------------------------------
Health Box
----------------------------------------
*/

.healthSection {
  border: 1px black solid;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
  max-width: 15rem;
  max-height: 8rem;
} 

.healthBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.healthSectionInput {
  max-width: 4rem;
}

.healthSectionMainInput {
  max-width: 6rem;
}

/*
----------------------------------------
Static Stats
----------------------------------------
*/

.staticStatsBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.4rem;
  margin: 0.2rem;
  /*max-width: 24rem;*/
  min-width: 24rem;
  max-width: 24rem;
  max-height: 13rem;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  border: 0.1rem black solid;
  text-align: left;
  padding: 0.2rem;
}

.staticStatsItemName {
  font-weight: bold;
}


/*
----------------------------------------
Skills Section 
----------------------------------------
*/


.skillsBox {
  padding: 0.5rem;
  max-width: 16rem;
  overflow-y: auto;
  align-self: flex-end;
  margin: 0.5rem;
}

.skillsTable tbody tr:nth-child(even) {
  background-color: var(--nonRollBackground)
}

/*
----------------------------------------
Manual Dice Roll
----------------------------------------
*/

.manualDiceRollSection {
  border: 1px black solid;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
} 

.verticalManualRollSection {
  min-width: 14.5em;
  min-height: 13rem;
  max-width: 14.5rem;
  max-height: 13rem;
}

.manualDiceRollButton {
  display: flex !important;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
}

.manualDiceRollButtonGroup {
  justify-content: space-evenly;
}

.manualDiceRollButtonInner {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 3.5rem;
  justify-content: space-evenly;
}

.manualDiceRollControl {
  border: var(--mainBorder) !important;
}

/*
----------------------------------------
Saving Throw
----------------------------------------
*/

.characterSavingThrowSectionBox {
  display: flex;
  flex-direction: column;
  max-width: 16rem;
  max-height: 10rem;
}

.characterSavingThrowSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.2rem;
  margin: 0.2rem;
}

.savingThrow {
  border: var(--thinBorder);
  border-radius: 0.5rem;
  flex: 0 0 50%;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  justify-content: space-evenly;
  padding: 0.1rem;
}

/*
----------------------------------------
Defenses and Conditions
----------------------------------------
*/
/*

.defensesConditionsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 23rem;
  max-height: 7rem;
}

.defenseConditionsSubSection {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  margin: 0.2rem;
  padding: 0.2rem;
}

.defenseConditionsInfo {
  border: var(--thinBorder);
}

.restButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
*/

/*
----------------------------------------
Turn Order
----------------------------------------
*/

.turnOrderBox {
  padding: 0.1rem;
  margin: 0.1rem;
  max-width: 15rem;
}

.turnOrderList {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
}

.turnOrderItem {
  border: var(--thinBorder);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.1rem 0.2rem;
  margin: 0.1rem;
}

.turnOrderItemRemove {
  padding: 0.1rem !important;
}

.turnOrderButtons {
  display: flex;
  flex-direction: column;
}

.turnOrderControlButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.currentTurn {
  background-color: #acd3e2;
}

/*
----------------------------------------
Map Section
----------------------------------------
*/

.mapSection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.mapSectionFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.mapSectionFlexBetter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.mapSectionRow {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.mapSectionRollResultsCol {
  justify-content: space-between; 
}

.mapSectionCol {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.mapToolButtons {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.mapZoomButtons {
  display: flex;
  flex-direction: row;
}

.updateMapToggle {
  padding: 0.5rem;
}

/*
----------------------------------------
Chat Section
----------------------------------------
*/

.chatBox {
  min-height: 16rem;
  max-height: 24rem;
  min-width: 13rem;
  max-width: 20rem;
}

.chatInnerBox {
  display: flex;
  flex-direction: column;
} 

.chatLogInnerBox {
  display: flex;
  flex-direction: column;
  min-height: 14rem;
  max-height: 18rem;
  min-width: 13rem;
  max-width: 19rem;
  overflow-y: scroll;
}


.chatMessage {
  border: var(--thinBorder);
  /*border-radius: 0.5rem;*/
}

.loreMessage {
  background-color: lightgoldenrodyellow;
}

.chatMessageCharacter {
  justify-self: left;
  color: green;
}


.gameLogMessage {
  border: var(--thinBorder);
  /*border-radius: 0.5rem;*/
  text-align: center;
}

.gameLogTime {
  font-size: small;
}


/*
----------------------------------------
Roll Results
----------------------------------------
*/

.rollContainer {
  min-width: 10rem;
  max-width: 15rem;
}

.rollResults {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.4rem;
}

.lastRollResult {
  background-color: var(--nonRollBackground);
}



/*
----------------------------------------
Monster Sheet
----------------------------------------
*/

.monsterSheet {
  max-width: 75rem;
  max-height: 70rem;
}

.monsterSheetTopBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.encounterSelectorSection {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.monsterGroupDisplaySection {
  overflow-y: scroll;
  max-height: 49rem; 
}

.monsterGroupDisplay {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  padding: 0.5rem;
  border: var(--thinBorder);
}

.monsterSheet input{
  padding: 0 !important;
  margin: 0 !important;
}

.monsterSheet td {
  padding: 0.1em !important;
}

.monsterSheet select {
  max-width: 6rem;
}

.monsterAttackDamage {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}


.monsterHealthInput {
  width: 3rem !important;
}

.monsterGroupNotesSection {
  display: flex;
  flex-direction: column;
}

.monsterGroupDuplicateMenu {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

/*
----------------------------------------
Monster Group Form
----------------------------------------
*/

.monsterGroupForm {
  overflow-x: scroll;
  background-color: var(--innerBackgroundColor);
}

.monsterSheetAbilityInput {
  width: 3rem;
}

.monsterGroupFormNameInput {
  width: 8rem;
}

.monsterGroupFormQtyInput {
  width: 4rem;
}

.monsterHitDiceInput {
  width: 3rem;
}

.monsterGroupFormCRInput {
  width: 3rem;
}

.monsterGroupFormSmallNumInput {
  width: 4rem;
}

.monsterGroupFormDescriptionInput {
  width: 10rem;
}

.monsterGroupFormAttackNameInput {
  width: 6rem;
}

.monsterGroupFormAttackHitInput {
  width: 3rem;
}

.monsterGroupFormAttackNumDiceInput {
  width: 3rem;
}

.monsterGroupFormAttackDiceTypeInput {
  width: 3rem;
}

.monsterGroupFormAttackBonusInput {
  width: 3rem;
}

.monsterGroupFormSkillAbilityBox {
  width: 16rem;
}

/*
----------------------------------------
Character Creation
----------------------------------------
*/


.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px; 
  user-select: none;
}

.characterCreatorOptionGroup {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.characterCreatorCheckbox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


.characterCreatorRadioOption {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.characterCreatorEquipmentSection {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0.3rem;
}

.optionGroup {
  padding: 0.2rem;
}


.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .weaponLabel:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid #ccc;
  content: "";
}

.custom-checkbox:hover input ~ .weaponLabel:before {
  background-color: #f0f0f0;
}

.custom-checkbox input:checked ~ .weaponLabel:before {
  background-color: #2196F3;
}

.custom-checkbox .weaponLabel:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .weaponLabel:after {
  display: block;
}

.custom-checkbox .weaponLabel:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.equipmentContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center; 
  width: 100%;
}

.equipmentBox {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-width: 600px; 
}

.weaponLabel {
  font-size: 18px; 
  margin-right: 10px;
}


.explorersPackDescription {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9; 
  font-size: 14px; 
}


.equipmentBox h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.checkboxContainer input[type="radio"],
.checkboxContainer input[type="checkbox"] {
  margin-right: 5px;
  transform: scale(1.5);  
}

.orLabel {
  margin: 5px;
  font-weight: bold;
}

.dropdownContainer {
  margin-left: 20px;
  margin-top: 5px;
}

.dropdownContainer select {
  font-size: 14px;
  padding: 5px;
}



/**/
.characterCreatorRace {
  display: flex;
  flex-direction: row;
}

.characterCreatorTabContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem;
}

.abilityModDisplay {
  border: var(--thinBorder);
  border-radius: 0.2rem;
  padding: 0.5rem;
  background-color: var(--nonRollBackground);
}

.abilityBox select {
  max-width: 8rem;
}

.characterCreator {
  background-color: white;
  padding: 20px;
}

.abilityScoresDisplay {
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
  background-color: white; 
  padding: 10px;
  border-radius: 5px; 
}

.abilityScoreBox {
  display: flex;
  flex-direction: column;
  align-items: center; 
  border: 1px solid #ccc; 
  padding: 10px;
  margin: 5px;
  border-radius: 5px; 
}

.abilityName {
  font-size: 16px;
  font-weight: bold; 
  margin-bottom: 5px;
}

.abilityScore {
  font-size: 20px;
  color: #333; 
}

.characterCreatorSection {
  max-width: 69rem;
  max-height: 48rem;
  padding: 20px;
  overflow-y: scroll;
}


.classNav .nav-link {
  text-align: left; 
}

.classContent {
  flex: 1;
  padding-left: 20px;
}

.characterCreatorTabContent {
  text-align: left; 
}

.subclassesSection ul {
  padding-left: 20px; 
}

.subclassesSection ul li {
  list-style-type: disc; 
}

/*
----------------------------------------
Character Inventory Area 
----------------------------------------
*/

.characterInventoryArea {
  max-width: 39.5rem;
  max-height: 32rem;
}

.characterInventoryAreaSection {
  max-height: 27rem;
  overflow-y: scroll;
  padding: 0.5rem;
}

/*
----------------------------------------
Character Inventory Area Spells Menu
----------------------------------------
*/

.spellsMenuHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spellsMenuHeaderInfoBox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.spellsMenuHeaderStat {
  display: flex;
  flex-direction: column;
  border: var(--thinBorder);
}

.spellsLevelSectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.spellsSectionTableExpandingInfoDiv { 
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 1rem;
}


/*
----------------------------------------
Manage Spells Menu (temporary)
----------------------------------------
*/

.manageSpellsMenu {
  opacity: 90% !important;
  padding: 0.5em;
  border: var(--thinBorder);
  background-color: var(--nonRollBackground);

  display: flex;
  flex-direction: column;
  max-width: 20rem;
  max-height: 26rem;
}

.searchSpellList {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}

.spellListItem {
  border: var(--thinBorder);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 0.5rem;
}

.preparedSpellListItem {
  
}

/*
----------------------------------------
Character Inventory Area Inventory Menu
----------------------------------------
*/

.inventoryMenuHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inventorySectionHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1em;
}

.inventorySection {
  display: flex;
  flex-direction: column;
}

.characterInventoryAreaSection {
  margin: 0.3em 0.7em;
}


/*
----------------------------------------
Character Inventory Area Notes Menu
----------------------------------------
*/

.notesMenu {
  display: flex;
  flex-direction: column;
}

.notesSection {
  display: flex;
  flex-direction: column;
}


/*
----------------------------------------
Character Inventory Area Features Menu
----------------------------------------
*/

.featuresMenu {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.featuresSection {
  border: var(--thinBorder);
  padding: 0.3rem;
}

.featureTitle {
  font-weight: 700;
}

.featureSubHeading {
  font-weight: 500;
}



/*
----------------------------------------
Money Menu
----------------------------------------
*/

.moneyMenu {
  opacity: 90% !important;
  padding: 0.5em;
  border: var(--thinBorder);
  background-color: var(--nonRollBackground)
}


/*
----------------------------------------
Manage Inventory Menu (temporary)
----------------------------------------
*/


.manageInventoryMenu {
  opacity: 90% !important;
  padding: 0.5em;
  border: var(--thinBorder);
  background-color: var(--nonRollBackground);

  display: flex;
  flex-direction: column;
  max-width: 20rem;
  max-height: 27rem;
}


.searchEquipmentList {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.equipmentListItem {
  border: var(--thinBorder);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: medium;
  padding: 0.2rem 0.2rem;
}


/*
----------------------------------------
Item Creation Forms
----------------------------------------
*/

.customItemCreationForm {
  display: flex;
  flex-direction: column;
}

.itemNumInput {
  max-width: 5rem;
}

.valueWeightFields {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.weaponBasicRadio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.weaponTypeRadio {
  display: flex;
  flex-direction: column;
}

.customWeaponProperties {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: var(--thinBorder);
}

.customWeaponPropertiesCol {
  display: flex;
  flex-direction: column;
}

.customWeaponAttackFields {
  display: flex;
  flex-direction: column;
}

.weaponFormRow {
  display: flex;
  flex-direction: row;
}

.weaponFormTextInput {
  max-width: 8rem;
}

/*
----------------------------------------
Avatar Upload
----------------------------------------
*/

.avatarUploadSection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
}

.avatarUploadForm {
  display: flex;
  flex-direction: column;
  border: var(--thinBorder);
  padding: 0.5rem;
}

.avatarSelectionArea {
  display: flex;
  flex-direction: column;
  border: var(--thinBorder);
  padding: 0.5rem;
}


.avatarScaleControls {
  display: flex; 
  flex-direction: row;
}

/*
----------------------------------------
Map Things
----------------------------------------
*/

.mapCanvasWrapper {
  display: flex;
  flex-direction: column;
}

.mapSettingsSection {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.mapSettingsItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
