# React installation files, includes the cache
react_test/node_modules/.cache/*
*.pack
react_test/node_modules/.cache/.eslintcache
react_test/node_modules/.cache/default-development/0.pack
react_test/node_modules/.cache/default-development/1.pack
react_test/node_modules/.cache/default-development/12.pack
react_test/node_modules/.cache/default-development/16.pack
react_test/node_modules/.cache/default-development/index.pack
react_test/node_modules/.cache/default-development/index.pack.old
react_test/node_modules/.cache/.eslintcache
questweaver_dicetest/
