@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(../files/Atkinson-Hyperlegible-Regular-102.ttf);
}

html {
  font-family: var(--sansFont);
}

:root {
--mainBorder: 0.15rem solid #000;
--thinBorder: 0.1rem solid #000;
--innerBackgroundColor: lightgrey;
--nonRollBackground: #D2CDE9;
--buttonColor: #CBDFE7;
--buttonHoverColor: #a8b9c0;
--buttonActive: #acd3e2;
--sansFont: 'Atkinson Hyperlegible', sans-serif;
}

.Page {
  text-align: center;
  background:url(../files/beautifulforest.jpg);
  /*font-size: 0.95em;*/
  min-height: 56.25rem;
  max-height: 56.25rem;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

.charactercreatorpage {
  max-width: 70rem;
  min-width: 70rem;
  max-height: 55rem;
  min-height: 55rem;
  padding: 1rem;
}

.characterCreatorSection {
  max-width: 69rem;
  max-height: 46rem !important;
  padding: 20px;
  overflow-y: scroll;
}

.frontElement {
  background-color: var(--innerBackgroundColor);
  opacity: 90%;
}

