html {
  background-color: aliceblue;
}

.characterselection {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 10rem;
  left: 0;
  right: 0;
  flex-direction: column;
  max-height: 20rem;
  max-width: 30rem;
  margin: auto;
  align-self: center;
  text-align: center;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 1rem 0rem;
  background-color: white;
  
}

.characterSelectEntry {
  margin: 0.2rem 0.5rem;
  text-decoration: none;
  color: white;
}

.characterCreatorButton {
  margin: 0.2rem 0.5rem;
}
